/* Google Font Imports*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
    font-family: 'Open Sans', serif;
}

input {
    font-family: 'Open Sans', serif;
}

p {
    font-family: 'Open Sans', serif;
}
