.signUpBody {
    background: url(../media/background_image.jpg) no-repeat;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
}

/* The grid container*/
.grid-containerSignUp {
    display: grid;
    grid-template-areas: 'header header header header header header' 'main main main main main main' 'signUpFooter signUpFooter signUpFooter signUpFooter signUpFooter signUpFooter';
    grid-column-gap: 10px;
}

/* Style the main column */
.mainSignUp {
    grid-area: main;
    padding: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.signUpTitle {
    font-size: 42px;
    color: #f0fff0;
    font-weight: bold;
    text-align: center;
}
/* Style the footer */
.signUpFooter {
    color: #09B8C8;
    grid-area: footer;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 40px;
}

.footer-p {
    line-height: 5px;
}

.signUpForm {
    text-align: center;
    line-height: 55px;
    margin-top: 20px;
}

    .signUpForm > button {
        background-color: #09B8C8;
        color: #f0fff0;
        font-weight: bold;
        height: 35px;
        width: 220px;
        border-radius: 8px;
    }

.buttonSignIn {
    margin-bottom: 10px;
}

.signUpForm > input {
    background-color: #f0fff0;
    color: #000000;
    height: 35px;
    width: 300px;
    font-weight: bold;
    padding-left: 5px;
    border-radius: 8px;
}

.follow-icon {
    font-size: 30px;
    margin-top: 5px;
}

.follow-span {
    text-align: center;
    margin-top: 5px;
    line-height: 0px;
}

footer > div > span > p > a:nth-child(1) > svg {
    color: #09B8C8;
}

footer > div > span > p > a:nth-child(2) {
    color: #09B8C8;
}

a {
    text-decoration: none;
}

#successful {
    height: auto;
    background: none;
    font-weight: bold;
    color: #f0fff0;
    font-size: 18px;
    line-height: 30px;
}

#emailWarning {
    color: #f0fff0;
}
.signUpWarnings {
    color: red;
    line-height: 25px;
    font-weight: bold;
}
/* Tablet Styles go here */
@media screen and (min-width: 768px) {
    .signUpFooter {
        color: #09B8C8;
        grid-area: footer;
        padding: 10px;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        margin-top: 55px;
        height: 30px;
    }
}

@media screen and (min-width: 1024px) {
  
    /* Style the main column */
    .mainSignUp {
        grid-area: main;
        padding: 10px;
        height: 350px;
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    .signUpFooter {
        color: #09B8C8;
        grid-area: footer;
        padding: 10px;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        margin-top: 220px;
        height: 30px;
    }

    #successful {
        height: auto;
        background: none;
        font-weight: bold;
        color: #f0fff0;
        font-size: 18px;
    }
    #emailWarning {
        color: #f0fff0;
    }

    .signUpTitle {
        font-size: 42px;
        color: #f0fff0;
        font-weight: bold;
        text-align: center;
    }

    .footer-p {
        line-height: 5px;
    }

    .signUpForm {
        text-align: center;
        line-height: 55px;
        margin-top: 20px;
    }
        .signUpForm > button {
            background-color: #09B8C8;
            color: #f0fff0;
            font-weight: bold;
            height: 38px;
            width: 300px;
            border-radius: 8px;
        }
        .signUpForm > input {
            background-color: #f0fff0;
            color: #000000;
            height: 35px;
            width: 400px;
            font-weight: bold;
            padding-left: 5px;
            border-radius: 8px;
        }

.follow-icon {
        color: #09B8C8;
        font-size: 30px;
        margin-top: 20px;
}

.follow-span {
        text-align: center;
        margin-top: 5px;
        line-height: 0px;

}
a {
        text-decoration: none;

}
}

